*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}


.sect-1{
    width: 100%;
    height: 100vh;
    background-image: url('./images/sect-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.back-sect{
    background-image: linear-gradient(to right, #13100fad, #080605bd);
    height: 100vh;
}


.wrap-top{
    width: 80%;
    margin: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin{
    background-color: #E20C0E;
    text-decoration: none;
    padding: 6px 14px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border-radius: 4px;
}


.get-start{
    width: 70%;
    margin: 160px auto  30px auto;
    text-align: center;
}

.carry{
    margin-bottom: 10px;
    width:60%;
    margin: auto;
}
.unlimited{
    display: block;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
}
.para{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
}

.ready{
    color: #ffffff;
    font-size: 1em;
    /* margin-bottom: 10px; */
}

.group{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

.start{
    width: 480px;
    height: 50px;
    color: #ffffff;
    background-color: #080605a8;
    padding: 10px;
    border: 1px solid gray;
}

.started{
    display: flex;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #E20C0E;
}
.get-started{
    padding: 5px 20px;
    gap: 1em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
}


/* MEDIA QUERY */
@media(max-width: 880px){
    .wrap-top{
        width: 100%;
    }

    .netflix-new{
        width: 100px;
    }
}


/* UNLIMITED */
@media(max-width: 1233px){
    .unlimited{
        font-size: 2.4rem;
    }
}

@media(max-width: 1295px){
    .group{
        width: 70%;
    }
}
@media(max-width: 982px){
    
    .carry{
        width: 100%;
    }
    .unlimited{
        font-size: 1.8rem;
    }
}

@media(max-width: 952px){
    .group{
        width: 80%;
    }
}
@media(max-width:860px){
    .para{
        font-size: 1em;
    }
    .ready{
        font-size: .8em;
    }
}

@media(max-width: 808px){
    .start{
        width: 380px;
    }

    .get-started{
        padding: 4px 14px;
    }
}
@media(max-width: 664px){
    .group{
        width: 100%;
        justify-content: center;
    }
}
@media(max-width: 590px){
    .get-start{
        width: 80%;
    }
}

@media(max-width: 533px){
    .group{
        padding: 8px;
        flex-direction: column;
    }
    .start{
        width: 100%;
    }

    .get-started{
        padding: 4px 20px;
    }
    .started{
        margin: auto;
    }
}
@media(max-width: 440px){
    .get-start{
        margin: 100px auto 50px auto;
    }
    .unlimited{
        font-size: 1.4rem;
    }
}


.pink-shape{
    background-color: #E40A17;
    height: 10px;
}

/* SECTION TWO */

.sect-2{
    background-color: #000000;
    padding: 30px;
    /* height: 140vh; */
}


.carousel-movie{
    /* border: 2px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 3em;
    margin-bottom: 30px;
}

.trending{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 120px;
    margin-bottom:30px;
}
.movie{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
    cursor: pointer;
}


.reason{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600px;
    margin-top: 30px;
    margin-left: 120px;
}
.cards{
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card-wrap{
    display: flex;
    gap: 1em;
}
.card{
    background: linear-gradient(180deg, #1A2143, #1D1A34, #1F1222);
    width: 270px;
    height: 240px;
    padding: 20px;
    border-radius: 10px;
}

.card h2{
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
}

.card p{
    color: #B6B6BE;
    font-size: .8em;
    font-weight: 600;
}

@media(max-width: 1258px){
    .cards{
        width: 80%;
        flex-direction: column;
    }

    .card-wrap{
        justify-content: center;
    }
    .card{
        width: 400px;
        /* height: 230px; */
    }
}

@media(max-width: 940px){

    .cards{
        width: 100%;
    }
    .card-wrap{
        flex-direction: column;
        display: grid;
    }

    .card{
        /* margin: auto; */
        width: 600px;
        height: 200px;
    }

    .reason{
        text-align: center;
        margin-left: 0;
    }
}

@media(max-width: 900px){
    /* .sect-2{
        height: 230vh;
    } */
}
@media(max-width: 700px){
    .card{
        width: 500px;
    }
}

@media(max-width: 560px){
    .trending{
        margin-left: 0;
        text-align: center;
    }
}
@media(max-width: 547px){
    .card{
        width: 400px;
    }
}

@media(max-width: 470px){
    .card{
        width: 350px;
    }
}

@media(max-width: 400px){
    .card{
        width: 290px;
    }
}


/* SECT-3 */

.sect-3{
    background-color: #000000;
    padding: 30px 0;
}

.sect-3 h3{
    color: #ffffff;
    font-size: 1.6em;
    /* margin-top: 30px; */
    margin-left: 150px;
    margin-bottom: 20px;
}

.faq-wrapper{
    width: 80%;
    margin: auto;
}
.accordion{
    --bs-accordion-bg:#282727;
    --bs-accordion-color: #ffffff;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-active-bg: ;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-border-radius: 8px;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='white'%20viewBox='0%200%20448%20512'%3E%3Cpath%20d='M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032v144H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h144v144c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288h144c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232C1762' viewBox='0 0 448 512'%3E%3Cpath d='M80 224c-17.7 0-32 14.3-32 32s14.3 32 32 32h288c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
}
.accordion-item{
    /* width: 100%; */
    border: none;
    background-color: #282727;
    margin-bottom: 10px;
}

.accordion-body{
    /* text-align: center; */
    margin: auto;
    font-size: 1.2em;
}
.accordion-button{
    padding: 26px 26px;
    color: #ffffff;
    font-size: 1em;
}
.accordion-button:hover{
    background-color: #343434;
}


/* MEDIA QUery */

@media(max-width: 900px){
    .faq-wrapper{
        width: 90%;
    }

    .accordion-button{
        padding: 16px 16px;
        font-size: .8em;
    }
    .accordion-body{
        font-size: 1em;
    }

    .sect-3 h3{
        text-align: center;
        margin-left: 0;
    }
}

@media(max-width: 500px){
    .faq-wrapper{
        width: 94%;
    }

    .accordion-button{
        /* padding: 16px 16px; */
        font-size: .6em;
    }
    .accordion-body{
        font-size: 1em;
    }

    .sect-3 h3{
        font-size: 1.4em;
    }
}



/* News */

.news{
    width: 70%;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
   
}

.news p{
    color: #ffffff;
    font-size: 1em;
}

.news-letter{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.news input{
    background-color: #0F0F0F;
    border: 1px solid gray;
    width: 580px;
    height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
}

.start-news{
    background-color: #E40A17;
    display: flex;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
   
}
.news-started{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4em;
    padding: 5px 20px;
     text-align: center;
}


/*NEWS-MEDIA-QUERY */

@media(max-width: 1134px){
    .news{
        width: 80%;
    }
}

@media(max-width: 990px){
    .news{
        width: 100%;
    }
}

@media(max-width: 800px){
    .news input{
        width: 500px;
    }
}

@media(max-width: 727px){
    .news{
        text-align: start;
    }
    .news input{
        width: 400px;
    }
    .start-news{
        align-items: center;
    }
    .news-started{
        padding: 4px 14px;
        font-size: 1em;
    }
}


@media(max-width: 580px){
    .news-letter{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


/* Footer */

footer{
    background-color: #000000;
    padding: 10px 20px 50px 10px;
}
.question{
    margin-left: 220px;
    color: #ffffff;
    text-align: center;
}
.foot{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.jobs li{
    margin-bottom: 20px;
}
.jobs li a{
    color: #ffffff;
    font-size: 1em;
}

/* SELECT */
select{
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
    margin-left: 220px;
}

.nigeria{
    margin-left: 220px;
    margin-top: 30px;
    color: #ffffff;
}

.bot{
    margin-left: 220px;
    /* margin-top: 30px; */
    color: #ffffff;
}


@media(max-width: 1125px){
    .jobs{
      grid-template-columns: 1fr 1fr;
      /* justify-content: center; */
       /* align-items: center; */
    }
}

@media(max-width: 975px){
    select, .nigeria, .bot{
        margin-left: 140px;
    }
}
@media(max-width: 625px){
    .jobs{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .question, select, .nigeria, .bot{
        margin-left: 0;
    }
}

/* @media(max-width: 939px){
    .foot{
        width: 100%;
    }
}

@media(max-width:750px){
    .foot{
        flex-direction: column;
    }

    .jobs{
        display: flex;
        width: 80%;
        margin: auto;
    }
} */